body {
  font-size: 20px;
}
.photo {
  margin-bottom: 2rem;
}
nav {
  height: 8vh !important;
  font-size: 25;
  padding-top: 1vh;
}
nav a {
  color: #449D44 !important;
}
a {
  color: blue;
  font-weight: 900;
}
h2 {
  color: #449D44;
}
.category {
  color: #058F03;
}
.open-project:hover {
  opacity: 0.5;
}
.img-thumbnail {
  cursor: pointer;
  border-radius: 6px;
}
.img-thumbnail:hover {
  opacity: 0.9;
  background-color: #295168;
}
.link:hover {
  color: blue;
  font-weight: 900;
}
.footer {
  color: #449D44 !important;
}
.footer a {
  color: #449D44 !important;
}
img {
  width: 100%;
}
.pull-right, .subscribe {
  color: white !important;
}