{%extends 'base.html'%}
{% block content %}
{{ block.super}}

<div class="container-fluid">

  <!-- Looping through photos   -->
  {% for photos_item in photos %}

  <div class="row photo">
    <div class="col-md-3"></div>
    <!-- displaying photos photos -->
    <div class="col-md-6">
      <!--Display photos photo images  -->
      <a class="img-overlay" data-toggle="modal" data-target="#{{photos_item.id}}" style="width:100%"><img
          src="{{photos_item.image.url}}" class="img-responsive" alt="Image"></a>
    </div>
    <div class="col-md-3">
  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There is No photos Items</h2>
  </div>
  {% endfor %}

  {% for photos_item in photos %}
  <div class="modal fade" id="{{photos_item.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="desc">{{photos_item.title}}</h2>
          <button type="button" style="display: inline;" class="btn btn-secondary" onclick="copy('img{{photos_item.id}}')">Copy photo Link</button>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="">
              <img src="{{photos_item.image.url}}" style="width: 100%;" class="img-responsive" alt="Image" onclick="window.open(this.src)">
            </div>
            <div class="row">
                <p class="text-center">{{photos_item.description}}</p>
              <div class="col-md-6">
                <h4 class="desc">Location: <span category>{{photos_item.location.title}}</span></h4>
              </div>
              <div class="col-md-6">
                <h4 class="desc">Category: <span category>{{photos_item.category.title}}</span></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}