{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container-fluid">

  <!-- Looping through photos   -->
  <div class="row photo">
    <div class="col-md-3"></div>
    <!-- displaying photos photos -->
    <div class="col-md-6">
      <h2 class="text-success">{{ photo.title }}</h2>
      <p>{{ photo.description}}</p>
      <!--Display photos photo images  -->
      <img src="{{photo.photo_image.url}}" class="img-responsive" alt="Image" onclick="window.open(this.src)">
      <p>Posted on: {{ photo.published_on}}</p>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}